/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2018, 7:52:05 PM
    Author     : Joseph Eubanks
*/

.label {
    -fx-font-size: 30px; 
    -fx-font-family: "Norse";
    -fx-text-fill: #7a2400;
   
}

.button {
    -fx-background-color: #7a2400;
    -fx-font-family: "Norse";
    -fx-font-size: 25px;
        
}

.button:hover {
    -fx-background-color: #5e1c00;

}

.button:pressed {
    -fx-background-color: #ffffff;
    -fx-text-fill: #7a2400;
}

.control-pane {
    -fx-background-color: black;
    -fx-padding: 10 10 10 10;
    
}

.info-pane .label {
    -fx-padding: 10 10 10 10;
}

.rootPane {
    -fx-font-family: "Norse";
    -fx-font-size: 20px;
}

.left-pane .label {
    -fx-background-color: black;
    -fx-font-family: "Norse";
    -fx-font-size: 72px;
    -fx-text-fill: #ffffff;
    
    
}

.right-pane .label {
    -fx-background-color: black;
    -fx-font-family: "Norse";
    -fx-font-size: 72px;
    -fx-text-fill: #ffffff;

}

.bottom-pane .label {
    -fx-background-color: black;
    -fx-font-family: "Norse";
    -fx-font-size: 72px;
    -fx-text-fill: #ffffff;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .track
{
    -fx-background-color: #7a2400;
    -fx-border-color: #7a2400;
    -fx-border-radius: 5em;
}


.scroll-bar{
    -fx-font-size: 15px;
}

.web-view{
  
}

.text-field {
    -fx-font-family: "Norse";
    -fx-font-size: 20px;
    -fx-text-fill: #7a2400;
}
